{% extends 'base.html' %}
{% block content %}
<div id = 'main'>
  <article class="post">
    <header>
      <div class="title">
        <h2><a href ="">Edit Blog Post/Article</a></h2>
        <p>"{{ blog_post_title }}"</p>
      </div>
    </header>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
    <input type="submit" name='edit_post' value='Save changes'/>
    </form>
  </article>
  <h2><a href = "{% url 'write_blog' %}">Cancel</a></h2>
</div>
{% endblock %}
