{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div id = 'main'>
  <article class = 'post'>
  <header>
    <div class = 'title'>
      <h2><a href="">Write an Article or Blog</a></h2>
      <p>"Share your experiences or any other exciting stuff here"</p>
    </div>
  </header>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='Post' name='post_blog' />
  </form>
  </article>
</div>
<section id = 'sidebar'>
  <section id = 'intro'>
    <header>
      <h2 style="font-size:20px">Recent Posts and Articles</h2>
      <h3><a href ="{% url 'get_all_blog_posts' %}">View all posts/articles</a></h3>
      <p style="font-size:10px">"Click on post/article for more info"</a></p>
    </header>
  </section>
  <section>
    <form method="POST" action="{% url 'search_blog_post' %}">
      {% csrf_token %}
      {{ search_form }}
      <input type='submit' name='search_blog_post' value='Go'/>
    </form>
    <div class = 'mini-posts'>
      {% for post in blog_posts %}
        <article class='mini-post'>
          <header>
            <h3><a href = "{% url 'blog_post_details' post.id %}">{{ post.title }}</a></h3>
            <time class="published">{{ post.created }}</time>
            {% if post.user_profile.user_profile_pic.name %}
              <a href="{% url 'user_profile' post.user.id %}" class="author"><img src="/media/{{ post.user_profile.user_profile_pic }}" alt="" /></a>
            {% else %}
              <a href="{% url 'user_profile' post.user.id %}" class="author"><img src="{% static 'images/default_gravators/github.png' %}" alt="" /></a>
            {% endif %}
            <p>by:<a href ="{% url 'user_profile' post.user.id %}">{{ post.user.username }}</a></p>
          </header>
          {% if post.image_file.name %}
          <a href="{% url 'blog_post_details' post.id %}" class="image"><img src="/media/{{post.image_file}}" alt="" /></a>
          {% endif %}
        </article>
      {% endfor %}
      <h2><a href ="{% url 'get_all_blog_posts' %}">View all other posts/articles</a></h2>
    </div>
  </section>
</section>
{% endblock %}
