{% extends 'base.html' %}
{% block content %}
  <h1>Write an article or Blog here</h1>
  <hr/>
  <form method="POST">
  {% csrf_token %}
  <p style = 'color:red'>  Note:Atleast add 2 tags</p>
  {{ form.as_p }}
  <input type='submit' value='Post' name='post_blog' />
  </form>
  <hr/>
  <h3>Search by Tags:</h3>
  {% for tag in all_tags %}
    <a href = "{% url 'search_all_blog_posts_by_slug' tag.slug %}">{{ tag.name }}</a><br/>
  {% endfor %}
  <hr/>
  <h1>Recent Posts or Articles:</h1>
  {% for post in blog_posts %}
    <a href = "{% url 'blog_post_details' post.id %}"><h1>{{ post.title }}</h1></a>
    by:<a href = "{% url 'user_profile' post.user.id %}">{{ post.user.username }}</a><br/>
    Created on:{{ post.created }}<br/>
    Last Modified:{{ post.modified }}<br/>
    {% if post.user.username == user.username %}
      <a href ="{% url 'edit_blog_post' post.id  %}">Edit</a>
      <a href ="{% url 'remove_blog_post' post.id  %}">Remove</a>
    {% endif %}
    <hr/>
  {% endfor %}
{% endblock %}
