{% extends 'base.html' %}
{% block content %}
<div id = 'main'>
  <section>
    {% if not posts %}
      <h3>No posts yet under tag {{ tags_str }}</h3>
      <hr/>
    {% else %}
    <h3>List of posts and articles by {{user}} under tag "{{ tag_str }}" </h3>
    <hr/>
    <ul class = 'posts'>
      {% for post in posts %}
        <li>
          <article>
            <header>
              <h2><a href = "{% url 'blog_post_details' post.id %}">{{ post.title }}</a></h2>
              <time class="published">{{ post.created }}</time>
              <p class="published">by:<a href = "{% url 'user_profile' post.user.id %}">{{ post.user.username }}</a></p>
            </header>
          </article>
        </li>
      {% endfor %}
    </ul>
    {% endif %}
  </section>
</div>
{% endblock %}
