{% extends 'base.html' %}
{% block content %}
<div id = 'main'>
  <h2>Upcoming Developer's event</h2>
  <ul class = 'actions'>
    <li><h3>Create your own Event:</h3></li>
    <li><a class = 'button' href = "{% url 'create_codehub_event' %}" >Coding Event</a></li>
    <li>Or</li>
    <li><a class = 'button' href = "{% url 'create_devhub_event' %}">Developer Event</a></li>
  </ul>
  <p style="color:red">Click on the event to see more details and ask questions about the event</p>
  <form method="post" action="{% url 'search_devhub_event' %}">
    {% csrf_token %}
    {{ search_form.as_p }}
    <input type='submit' name='search_event' value="Go"/>
  </form>
  <hr/>
  <section>
    {% if not events %}
      <h3>No events Yet!!!</h3>
    {% else %}
    <ul class = 'posts'>
      {% for event in events.object_list %}
        <li>
          <article>
            <header>
              <h2><a href = "{% url 'devhub_event_details' event.id %}">{{ event.event_heading }}</a></h2>
              <time class="published">{{ event.created }}</time>
              <p class="published">by:<a href = "{% url 'user_profile' event.user.id %}">{{ event.user.username }}</a></p>
            </header>
          </article>
        </li>
      {% endfor %}
      <div class = "pagination">
        {% if events.has_previous %}
          <li><a href = "?page={{ events.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% for pg in events.paginator.page_range %}
          {% if events.number == pg %}
            <li class = "active"><a href="?page={{ pg }}">{{ pg }}</a></li>
          {% else %}
            <li><a href="?page={{ pg }}">{{ pg }}</a></li>
          {% endif %}
        {% endfor %}
        {% if events.has_next %}
          <li><a href = "?page={{ events.next_page_number }}">Next</a></li>
        {% endif %}
        </ul>
      </div>
  {% endif %}
</section>
</div>
{% endblock %}
