
{% extends 'base.html' %}
{% block content %}
<div id = "visualDiv">
  <div id = 'musicName'>
    <h1 id = 'musicHeading'></h1>
  </div>
  <div id = "closeMusic">
    Stop Music
  </div>
  <div id = 'musicVisual'>

  </div>
</div>
<div id = 'main'>
  <h1>Music List({{ music_list.count }})</h1>
  <hr/>
  <section>
    {% if not music_list %}
      <h3>NO Music yet!!!</h3>
    {% else %}
      <ul class='posts'>
        {% for music in music_list %}
          <li>
            <article>
              <header>
                <!-- <h2><a target = '_blank'  href = "/media/{{ music.music_file }}">{{ music.music_name }}</a></h2> -->
                <audio src = "/media/{{ music.music_file }}" id = "music{{ music.id }}"></audio>
                <h2 id = "{{ music.music_id }}" onclick="playMusic({{ music.id }},'{{ music.music_name }}')"><a>{{ music.music_name}}</a></h2>
                <p class="published">by:{{ music.music_artist }}</p>
                <p class = 'published'>{{ music.music_lang }}</p>
              </header>
            </article>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </section>
  <!-- for showing visual data of the music -->
</div>
<script src = 'http://d3js.org/d3.v3.min.js' charset = 'utf-8'></script>
{% endblock %}
