{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div id = 'main'>
  <div id = 'skills_stat_visual'>
  </div>
  <h2>Get All Skills Statistics</h2>
  <hr/>
  {% for key,value in skill_count_dict.items %}
    <a href = "{% url 'search_users_by_skill' key.slug %}">{{ key }}</a>:{{ value }}<br/>
  {% endfor %}
  <hr/>
  <h2>Percentile of skills:</h2>
  {% for key,value in skill_per_dict.items %}
    <a href = "{% url 'search_users_by_skill' key.slug %}">{{ key }}</a>:{{ value }}<br/>
  {% endfor %}
</div>
<script src = "{% static 'js/jquery.min.js' %}"></script>
<script src = 'http://d3js.org/d3.v3.min.js' charset = 'utf-8'></script>
<script src = "{% static 'js/createVisual.js' %}"></script>
<script>
  $.ajax({
    url:'http://localhost:8000/get-all-skills-stat-api/v1/',
    type:'GET',
    success:function(data){
      createStatVisual(data,'skills_stat_visual');
    },
    error:function(e){
      console.log(e);
    }
  });
</script>
{% endblock %}
