{% extends 'base.html' %}
{% load django_markdown %}
{% block content %}
<h1>{{ topic.topic_heading }}</h1>
{% if topic.user.username == user.username %}
  <a href = "{% url 'edit_topic' topic.id %}">Edit</a>
  <a href = "{% url 'remove_topic' topic.id %}">Remove</a>
{% endif %}
<a href = "/media/{{ topic.file }}">{{ topic.file }}</a><br/>
{% if topic.topic_link %}
    <a href = "{{ topic.topic_link }}">{{ topic.topic_link }}</a>
    <br/>
{% endif %}
{{ topic.user.username }}:
{{ topic.created }}<br/>
{{ topic.topic_detail|markdown }}
Tags:{% for tag in topic.tags.all %}
  {{ tag.name }}
{% endfor %}
<form name  = 'form' method='post'>
{% csrf_token %}
{{ form.as_p }}
<input type='submit' name='comment' value ='Comment'/>
</form>
<hr/>
<h1>Comments:</h1>
{% for comment in comments %}
    <P>{{ comment.comment_text|markdown }}</P>
    {{ comment.id }}
    {{ comment.user.username }}:
    {{ comment.created }}
  {% if comment.user.username == request.user.username %}
    <a href = "{% url 'edit_topic_comment' comment.id %}">Edit</a>
    <a href = "{% url 'remove_topic_comment' comment.id %}">Remove</a>
  {% endif %}
    <hr/>
{% endfor %}
{% endblock %}
