{% extends 'base.html' %}
{% block content %}
<div id = 'main'>
  <h2>Topics by {{ topic_user }}</h2>
  <hr/>
  {% if not topics %}
    <h3>No Topics Yet!!!</h3>
  {% else %}
  <section>
    <ul class="posts">
      {% for topic in topics.object_list %}
        <li>
          <article>
            <header>
              <h3><a href="{% url 'comment_on_topic' topic.id %}">{{ topic.topic_heading }}</a></h3>
              <time class="published">{{ topic.created }}</time>
              <p class="published">by:<a href = "{% url 'user_profile' topic.user.id %}">{{ topic.user.username }}</a></p>
              {% if topic.user.username  == user.username %}
                <h3><a href = "{% url 'edit_topic' topic.id %}">Edit</a>
                <a href = "{% url 'remove_topic' topic.id %}">Remove</a></h3>
              {% endif %}
            </header>
          </article>
        </li>
      {% endfor %}
    </ul>
  </section>
  <div class = "pagination">
    {% if topics.has_previous %}
      <li><a href = "?page={{ topics.previous_page_number }}">Previous</a></li>
    {% endif %}
    {% for pg in topics.paginator.page_range %}
      {% if topics.number == pg %}
        <li class = "active"><a href="?page={{ pg }}">{{ pg }}</a></li>
      {% else %}
        <li><a href="?page={{ pg }}">{{ pg }}</a></li>
      {% endif %}
    {% endfor %}
    {% if topics.has_next %}
      <li><a href = "?page={{ topics.next_page_number }}">Next</a></li>
    {% endif %}
    </ul>
  </div>
  {% endif %}
</div>
{% endblock %}
