{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div id = 'main'>
  <article id = 'message_disp_div' class = 'post'>
    <h1 id = 'dispUsername'></h1>
    <hr/>
    <div class = 'make_sober show_message_div'>
    </div>
  </article>
</div>
<section id = 'sidebar' class = 'message_users_display'>
  <section>
    <u><h1 id = 'message_type'></h1></u>
    <h3 id = 'message_select_type'></h3>
    <div class = 'mini-posts'>

    </div>
  </section>
</section>
{% endblock %}
{% block script %}
<script src = "{% static 'js/messageCenter/messageController.js' %}"></script>
{% endblock %}
