{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div id = 'main'>
{% if user_info.username  == user.username %}
<h2><a href = "{% url 'edit_user_profile' user.id %}">Edit Profile</a></h2>
{% endif %}
<h1>{{ user_info.username }}</h1><br/>
<p style="color:red">The image is the avatar of the user,create your own here...<a href ='https://en.gravatar.com/'>Avatar</a></p>
<img src = "{{ gravatar_url }}" />
{% if user_info.is_superuser == 1 %}
  <img src = "{% static 'images/default_gravators/admin.png' %}" alt ='No avatar available' style="height:150px"/><br/>
{% else %}
  <img src = "{% static 'images/default_gravators/github.png' %}" alt ='No avatar available' style="height:150px"/><br/>
{% endif %}
<h2>{{ user_info.first_name }}</h2>
<h2>{{ user_info.last_name }}</h2>
{{ user_info.email }}<br/>
Date Joined:{{ user_info.date_joined}}<br/>
<hr/>
<h1>User profile Data</h1>
  {% if user_profile %}
    Description:{{ user_profile.user_description }}<br/>
    Skills:
    {% for skill in  user_profile.skills.all %}
      {{ skill.name }}
    {% endfor %}
    <br/>
    Type:{{ user_profile.user_type_select }}
  {% else %}
   <h2>No description yet</h2>
  {% endif %}
  <hr/>
<h1>User Activities:</h1>
<a href = "{% url 'get_user_questions' user_info.id %}">Asked Questions</a><br/>
<a href = "{% url 'get_user_topics' user_info.id %}">Posted Topics </a><br/>
<a href = "{% url 'user_blog' user_info.id %}">Blog</a><br/>
<a href = "">New way to solve problems</a><br/>
<a href = "">Talks or Events by User</a>
</div>
{% endblock %}
