{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Welcome {{ user }}!!! to Codehub</h1>
<a href = "{% url 'codehub_topic' %}">Topics for Discussion</a><br/>
<a href = "{% url 'codehub_question' %}" >Ask Questions</a><br/>
<a href = "{% url 'write_blog' %}">Write Blog</a><br/>
<a href = ''>Got a new way to solve a problem!!!Share here...</a><br/>
<a href="{% url 'codehub_events' %}">Upcoming Classes/Events/Talks</a><br/>
<a href="{% url 'create_codehub_event' %}">Create a event</a><br/>
<a href="{% url 'music_list' %}">Music</a><br/>
<hr/>
{% endblock %}
