{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div id = 'main'>
<h2>Welcome <a href = "{% url 'user_profile' user.id %}">"{{ user }}"</a> to Codehub</h2>
<hr/>
<h2><a href = "{% url 'codehub_question' %}" >Ask Questions</a></h2>
<h2><a href = "{% url 'codehub_topic' %}">Post Topics(Study Material Stuff)</a></h2>
<h2><a href = "{% url 'write_blog' %}">Write Blog</a></h2>
<h2><a href = "{% url 'codehub_innovation' %}">Got a new way to solve a problem!!!Share here...</a></h2>
<h2><a href="{% url 'codehub_events' %}">Upcoming Classes/Events/Talks</a></h2>
<h2><a href="{% url 'create_codehub_event' %}">Create a event</a></h2>
<h2><a href="{% url 'music_list' %}">Music</a></h2>
<hr/>
</div>
{% endblock %}
