{% extends 'base.html' %}
{% block content %}
<h1>Topic</h1>
<hr/>
<form method="post">
{% csrf_token %}
{{ form.as_p }}
<input type='submit' name='submitTopic' value= 'Post Topic'/>
</form>
<hr/>
{% for topic in topics %}
    <h1>{{ topic.topic_heading }}</h1>
    {{ topic.id }}
    <h3>{{ topic.user.username }}</h3>
    {{ topic.timeStamp }}
    {% if topic.user.username == user.username %}
    <a href = "/codehub/topic/remove/{{ topic.id }}">Remove</a>
    <a href = "/codehub/topic/edit/{{ topic.id }}">Edit</a>
    {% endif %}
    <hr/>
{% endfor %}
{% endblock %}
