{% extends 'base.html' %}
{% block content %}
<h1>Questions and Topics for Discussion</h1>
<hr/>
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_p }}
<input type='submit' name='submitTopic' value= 'Post Topic'/>
</form>
<hr/>
<h1>Topics:<span>(</span>{{ topics.count }}<span>)</span></h1>
<form method='post' action = '/codehub/topic/search_topic/'>
  {% csrf_token %}
<input type='text' name = 'search_str' placeholder = 'Search here...'/>
<input type='submit' name='seachTopic' value = 'Search'/>
</form>
<p style='color:red'>Click on topic/question to view comments</p><br/>
<hr/>
<div id = 'topicDisplaySec'>
{% for topic in topics %}
    <h1><a href = "{% url 'comment_on_topic' topic.id %}">{{ topic.topic_heading }}</a></h1>
    <a href = "{{ topic.topic_link }}">{{ topic.topic_link }}</a><br/>
      {{ topic.topic_type }}
    <h3>{{ topic.user.username }}</h3>
      {{ topic.timeStamp }}
    {% if topic.user.username == user.username %}
    <a href = "{% url 'remove_topic' topic.id %}">Remove</a>
    <a href = "{% url 'edit_topic' topic.id %}">Edit
    {% endif %}
    <hr/>
{% endfor %}
{% endblock %}
</div>
