{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div id = 'main'>
<h2>Welcome <a href = "{% url 'user_profile' user.id %}">"{{ user }}"</a> to work with others</h2>
<hr/>
<h2><a href = "{% url 'host_project' %}" >Host a project</a>(Show peoples what you are working on!!!)</h2>
<h2><a href = "{% url 'skill_matched_hosted_project' %}" >Hosted projects as per my skills</a></h2>
<h2><a href = "{% url 'get_all_hosted_projects' %}" >All Hosted Projects</a></h2>
<h2><a href = "{% url 'user_hosted_projects' user.id %}" >Projects hosted by me</a></h2>
<hr/>
</div>
{% endblock %}
