{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
  <title>General:Ask</title>
{% endblock %}
{% block content %}
<div id = 'main'>
  <article class = 'post'>
  <header>
    <div class = 'title'>
      <h2><a href="">Ask General Question</a></h2>
      <p>"Question everything around you"</p>
    </div>
  </header>
  <form method="post" id = 'generalQuestionForm' onsubmit="return validateQuestionTags()">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name = 'post_question' value="Post Question"/>
  </form>
  </article>
</div>
<section id = 'sidebar'>
  <section>
    <form method= "post" action = "{% url 'search_general_question' %}"/>
      {% csrf_token %}
      {{ search_form.as_p }}
      <input type = 'submit' value = 'Search' name='search_question' />
    </form>
    <hr/>
    <h1>Recent Questions</h1>
    <div class = 'mini-posts'>
      {% for question in questions %}
      <article class = 'mini-post'>
        <header>
          <h3><a href="{% url 'get_general_question_details' question.id %}">{{ question.ques_text }}</a></h3>
          <time class="published">{{ question.created }}</time>
          {% if question.user_profile.user_profile_pic.name %}
            <a href="{% url 'user_profile' question.user.id %}" class="author"><img src="/media/{{ question.user_profile.user_profile_pic }}" alt="" /></a>
          {% else %}
            <a href="{% url 'user_profile' question.user.id %}" class="author"><img src="{% static 'images/default_gravators/github.png' %}" alt="" /></a>
          {% endif %}
          <p>by:<a href ="{% url 'user_profile' question.user.id %}">{{ question.user.username }}</a></p>
        </header>
       </article>
      {% endfor %}
    </div>
    <h1><a href = "{% url 'get_all_general_questions' %}">View all Questions</a></h1>
  </section>
</section>
{% endblock %}
{% block script %}
<script>
  function validateQuestionTags(){
    var tagVal = $('#quesTagField').val();
    if(tagVal.indexOf(',') == -1){
      $('#quesTagField').val(tagVal + ',');
    }
  }
</script>
{% endblock %}
