{% extends 'base.html' %}
{% block content %}
<div id = 'main'>
<h1>Create Event</h1>
<form method="post">
{% csrf_token %}
{{ form.as_p }}
<input type='submit' name='create_event' value='Create Event'/>
</form>
<h2>Recently Added Events:({{ events.count }})</h2>
<a href="/codehub/events/">View All</a>
<hr/>
{% for event in events %}
  <h2><a href="{% url 'codehub_event_details' event.id %}">{{ event }}</a></h2>
  {% if event.user.is_superuser == 1 %}
    <p style='color:red'>Created by Admin</p>
  {% endif %}
  Created on:{{ event.created }}
{% endfor %}
<div>
{% endblock %}
