{% extends 'base.html' %}
{% block content %}
<div id = 'main'>
<h1>{{ event.event_heading }}</h1>
{% if event.user.is_superuser == 1 %}
  <p style = 'color:red'>Created by Admin</p>
{% endif %}
{% if event.user.username == user.username %}
<a href = "{% url 'edit_codehub_event' event.id %}">Edit</a>
<a href = "{% url 'remove_codehub_event' event.id %}">Remove</a>
{% endif %}
<hr/>
{{ event.user.username }}<br/>
{% if event.event_date %}
  {{ event.event_date }}
{% else %}
<p>No date yet</p>
{% endif %}
{{ event.event_venue }}<br/>
{{ event.event_description }}<br/>
{% if event.event_for != 'None' %}
{{ event.event_for }}<br/>
{% endif %}
<hr/>
<h2>Ask Questions:</h2>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type='submit' name='post_question' value = 'Post Question' />
</form>
<h2>Previous Questions:</h2>
{% for question in event_questions %}
  {{ question.question_text }}<br/>
{% if question.user.username  == user.username %}
  <a href = "{% url 'edit_codehub_event_question' question.id %}" >Edit</a>
  <a href = "{% url 'remove_codehub_event_question' question.id %}">Remove</a>
{% endif %}
  <br/>
  {{ question.user.username }}
  {{ question.id }}
  {{ question.created }}
  <hr/>
{% endfor %}
</div>
{% endblock %}
