{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Abuzillav0.1</title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
  <div id = 'wrapper'>
  <header id ='header'>
    <h1><a href = '/'>Abuzilla</a></h1>
    <nav class = 'links'>
    {% if user.is_authenticated %}
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href = "{% url 'user_profile' user.id %}">Profile</a></li>
      <li><a href = "{% url 'get_users' %}">Users</a></li>
      <li><a href = "{% url 'user_blog' user.id %}">My Blog</a></li>
      <li><a href = "{% url 'notifications' %}">Notifications</a></li>
      <li><a href = "{% url 'tags' %}">Tags</a></li>
      <li class = 'messageLink'><a href = "{% url 'get_message_center' %}">Messages</a><span class = "messageSpan"></span></li>
      <li><a href="{% url 'music_list' %}">Music</a></li>
      <li><a href="{% url 'logout_view' %}">Logout</a></li>
    </ul>
    <!-- <h3 align = 'right'>Welcome "<a href = "{% url 'user_profile' user.id %}">{{ user.username }}</a>"</h3> -->
    {% else %}
    <ul>
      <li><a href="{% url 'login_view' %}">Login</a></li>
      <li><a href="{% url 'register_view' %}">Register</a></li>
      <li><a href="{% url 'about_view' %}">About(Come here!!!)</a></li>
    </ul>
    {% endif %}
    </nav>
    <nav class="main">
      <ul>
        <li class="menu">
          <a class="fa-bars" href="#menu">Menu</a>
          <!-- <a class="image" href="#menu"><img style = "height:48px;border-radius:50%" src = "{% static 'images/default_gravators/github.png' %}" /></a> -->
        </li>
      </ul>
    </nav>
  </header>
  <section id="menu">
    {% if user.is_authenticated %}
      <section>
        <h3>Welcome "<a href = "{% url 'user_profile' user.id %}">{{ user.username }}</a>"</h3>
      </section>
      <section>
        <ul class="links">
          <li>
            <a href="{% url 'user_profile' user.id %}">
              <h3>Your Profile</h3>
            </a>
          </li>
          <li>
            <a href="{% url 'user_blog' user.id %}">
              <h3>My Blog</h3>
            </a>
          </li>
          <li>
            <a href="{% url 'notifications' %}">
              <h3>Notifications</h3>
            </a>
          </li>
          <li>
            <a href="{% url 'tags' %}">
              <h3>Tags</h3>
            </a>
          </li>
          <li>
            <a href ="{% url 'get_message_center' %}">
              <h3>Messages<span class = "messageSpan"></span></h3>
            </a>
          </li>
          <li>
            <a href="{% url 'music_list' %}">
              <h3>Music</h3>
            </a>
          </li>
        </ul>
      </section>
      <section>
        <ul class="actions vertical">
          <li><a href="{% url 'logout_view' %}" class="button big fit">Log Out</a></li>
        </ul>
      </section>
      {% else %}
      <section>
      <ul class="links">
        <li>
          <a href="{% url 'login_view' %}">
            <h3>Login</h3>
          </a>
        </li>
        <li>
          <a href="{% url 'register_view' %}">
            <h3>Register</h3>
          </a>
        </li>
        <li>
          <a href="{% url 'about_view' %}">
            <h3>About</h3>
          </a>
        </li>
      </ul>
    </section>
    {% endif %}
  </section>
  <!-- flash messages -->
  {% if messages %}
    <ul class="messages" style="list-style:none">
      {% for msg in messages %}
        <li>
          <div class="alert alert-{{msg.level_tag}}" role="alert">
   	        {{msg.message}}
  	      </div>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <!-- flash message ends here -->
  {% if user.is_authenticated %}
    <section id = 'messageSection'>
      <h1 id = 'loadMessage'></h1>
      <div class  = 'mini-post'>

      </div>
    </section>
  {% endif %}
  <div id = 'loader'></div>
    {% block content %}
    {% endblock %}
    <script src = "{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/skel.min.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src ="{% static 'js/main.js' %}"></script>
    <script src ="{% static 'js/createSkillStats.js' %}"></script>
    <script>
    (function($){
      var message_span = $('.messageSpan'),
          message_heading = $('a#message_heading'),
          load_message = $('#loadMessage'),
          mini_post = $('.mini-post'),
          message_section = $('#messageSection'),
          new_message_count = 0,
          new_message_arr = [],
          new_message_arr_len = 0,
          is_data = false,
          is_read = false,

      baseFunctions = {

        //gets the messsages from the server
        getNewMessages:function(){
          $.ajax({
            url:'http://localhost:8000/user-new-messages/',
            type:'GET',
            success:function(data){
              var data_len = data.length;
              console.log(data_len);
              if(data_len){
                new_message_arr = data;
                new_message_arr_len = data.length;
                baseFunctions.loadMessageData().hideMessageLoader();
                is_data = true;
              }
              else{
                is_data = false;
                message_section.css({'height':'50px','overflow':'hidden'})
                load_message.text('No unread Messages');

              }
            },
            error:function(error){
              console.log(error);
            }
          });
          return baseFunctions
        },

        //loads data into the DOM
        loadMessageData:function(){
          //loads the data
          var list_item = '',
              item_id = '',
              item_class = 'new_messages',
              message_count = 0;
          for(var i = 0 ; i < new_message_arr_len ; i++){
            item_id = 'new_message' + i;
            message_count += new_message_arr[i].message_count;
            list_item = "<article class = '"+ item_class +"' id = '" + item_id +"' style = 'cursor:pointer' class = 'mini-post'><header><p>" + new_message_arr[i].latest_message +"(" + new_message_arr[i].message_count + ")</p><time class='published'>"+ new_message_arr[i].created.split('.')[0] + "</time><a class='author'><img src='/media/"+ new_message_arr[i].sender_profile_pic +"' alt='' /></a><p>by:<a href = ''>" + new_message_arr[i].sender + "</a></p></header></article>";
            mini_post.append(list_item);
          }
          message_span.text('('+ message_count +')');
          message_span.css('color','red');
          return baseFunctions;
        },

        //displaying the message pane
        displayMessagePane:function(){
          $('#messageSection').css('display','block');
          if(is_read && is_data){
            load_message.text('Recent Messages');
          }
          is_read = true;
        },

        hideMessagePane:function(){
          $('#messageSection').css('display','none');
        },

        setMessageLoader:function(){
          load_message.text('Fetching new messages...');
          return baseFunctions;
        },

        hideMessageLoader:function(){
          load_message.text('Unread Messages');
        },

        setMessageStatusSeen:function(){
          var user_id = "{{ user.id }}",
              post_data = {
              'user_id':user_id,
              'csrfmiddlewaretoken':"{{ csrf_token }}"
              }
          $.ajax({
            url:'http://localhost:8000/set-message-status-true-api/',
            type:'POST',
            data:post_data,
            success:function(data){
              console.log(data);
              is_data = false;
              message_span.css('display','none');
            },
            error:function(error){
              console.log(error);
            }
          });
        }
      }

      $(document).ready(function(){
        var username = "{{ user.username }}";
        if(username != 'undefined' && username != ''){
          baseFunctions.setMessageLoader().getNewMessages();
          $('.messageLink').hover(
            function(){
              baseFunctions.displayMessagePane();
            },
            function(){
              baseFunctions.hideMessagePane();
              if(is_data == true){
                baseFunctions.setMessageStatusSeen();
              }
            }
          );
        $('#messageSection').hover(
          function(){
            baseFunctions.displayMessagePane();
          },
          function(){
            baseFunctions.hideMessagePane();
            if(is_data == true){
              baseFunctions.setMessageStatusSeen();
            }
          }
        );

        $('.mini-post').on('click','.new_messages',function(){
          window.location = '/message-center';
        });
      }
      });
    })(jQuery);
    </script>
  </body>
</html>
