{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Abuzillav0.1</title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
  <div id = 'wrapper'>
  <header id ='header'>
    <h1><a href = '/'>Abuzilla</a></h1>
    <nav class = 'links'>
    {% if user.is_authenticated %}
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href = "{% url 'user_profile' user.id %}">Profile</a></li>
      <li><a href = "{% url 'get_users' %}">Users</a></li>
      <li><a href = "{% url 'user_blog' user.id %}">My Blog</a></li>
      <li><a href = "{% url 'notifications' %}">Notifications</a></li>
      <li><a href = "{% url 'tags' %}">Tags</a></li>
      <li id = 'messageLink'>Messages<span class = "messageSpan"></span></li>
      <li><a href="{% url 'music_list' %}">Music</a></li>
      <li><a href="{% url 'logout_view' %}">Logout</a></li>
    </ul>
    <!-- <h3 align = 'right'>Welcome "<a href = "{% url 'user_profile' user.id %}">{{ user.username }}</a>"</h3> -->
    {% else %}
    <ul>
      <li><a href="{% url 'login_view' %}">Login</a></li>
      <li><a href="{% url 'register_view' %}">Register</a></li>
      <li><a href="{% url 'about_view' %}">About(Come here!!!)</a></li>
    </ul>
    {% endif %}
    </nav>
    <nav class="main">
      <ul>
        <li class="menu">
          <a class="fa-bars" href="#menu">Menu</a>
          <!-- <a class="image" href="#menu"><img style = "height:48px;border-radius:50%" src = "{% static 'images/default_gravators/github.png' %}" /></a> -->
        </li>
      </ul>
    </nav>
  </header>
  <section id="menu">
    {% if user.is_authenticated %}
      <section>
        <h3>Welcome "<a href = "{% url 'user_profile' user.id %}">{{ user.username }}</a>"</h3>
      </section>
      <section>
        <ul class="links">
          <li>
            <a href="{% url 'user_profile' user.id %}">
              <h3>Your Profile</h3>
            </a>
          </li>
          <li>
            <a href="{% url 'user_blog' user.id %}">
              <h3>My Blog</h3>
            </a>
          </li>
          <li>
            <a href="{% url 'notifications' %}">
              <h3>Notifications</h3>
            </a>
          </li>
          <li>
            <a href="{% url 'tags' %}">
              <h3>Tags</h3>
            </a>
          </li>
          <li id = 'message_heading'>
            <a href = "{% url 'get_user_messages' %}">
              <h3>Messages<span class = "messageSpan"></span></h3>
            </a>
          </li>
          <li>
            <a href="{% url 'music_list' %}">
              <h3>Music</h3>
            </a>
          </li>
        </ul>
      </section>
      <section>
        <ul class="actions vertical">
          <li><a href="{% url 'logout_view' %}" class="button big fit">Log Out</a></li>
        </ul>
      </section>
      {% else %}
      <section>
      <ul class="links">
        <li>
          <a href="{% url 'login_view' %}">
            <h3>Login</h3>
          </a>
        </li>
        <li>
          <a href="{% url 'register_view' %}">
            <h3>Register</h3>
          </a>
        </li>
        <li>
          <a href="{% url 'about_view' %}">
            <h3>About</h3>
          </a>
        </li>
      </ul>
    </section>
    {% endif %}
  </section>
  <section id = 'messageSection'>
    <div id = 'closeMessagePane'>Close</div>
  </section>
  <!-- <div style="height:100px;width:100px;background-color:red" id = 'loader'></div> -->
    {% block content %}
    {% endblock %}
    <script src = "{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/skel.min.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src ="{% static 'js/main.js' %}"></script>
    <script src ="{% static 'js/createSkillStats.js' %}"></script>
    <script>
      var message_span = $('.messageSpan'),
          message_heading = $('a#message_heading'),
          new_message_count = 0;


      //getting new_messages
      //async is fasle so that following operations takes place only after messges have been fetched
      $.ajax({
        url:'http://localhost:8000/user-new-messages/',
        async:false,
        success:function(data){
          message_fetched_success(data);
        }
      });


      //shows the message pane
      $('#messageLink').click(function(){
        //get the top 5 messages and append them to the dom and set message_status to true
        $('#messageSection').css('display','block');
        //CALL THE API TO SET THE MESSAGE STATUS TO TRUE
        var user_id = {{ user.id }}
        post_data = {
          'user_id':user_id,
          'csrfmiddlewaretoken':"{{ csrf_token }}"
        }

        $.ajax({
          url:'http://localhost:8000/set-message-status-true-api/',
          type:'POST',
          data:post_data,
          success:function(data){
            console.log(data);
            message_span.css('display','none');
          },
          error:function(error){
            console.log(error);
          }
        });
      });


      //close message pane
      $('#closeMessagePane').click(function(){
        $('#messageSection').css('display','none');
      });


      function message_fetched_success(message_arr){
        var message_count = message_arr.length;
        if(!message_count){
          var msg = "<h1>No NEW Messages!!!</h1>";
          $('#messageSection').append(msg);
        }
        else{
          var ul = $('<ul id = "messageList">');
          $('#messageSection').append(ul);
          for(var i =0 ;i< message_count;i++){
            //create element in DOM
            var new_msg = "<li>" + '<a href = "">' + message_arr[i].sender + '</a>' + ":" +message_arr[i].message +"</li>";
            ul.append(new_msg);
          }
          // console.log(data);
          message_span.text('(' + message_count + ')');
          message_span.css('color','red');
        }
      }
    </script>
  </body>
</html>
