{% extends 'base.html' %}
{% block content %}
<div id = 'main'>
<h2>Welcome <a href="{% url 'user_profile' user.id %}">"{{ user.username }}"</a></h2>
<hr/>
<h2><a href = "{% url 'codehub' %}">Coders out there!!!</a></h2>
<h2><a href ="{% url 'devhub' %}">Developers out there!!!</a></h2>
<h2><a href ="{% url 'match_user_skills' %}">Skills Matcher</a></h2>
<h2><a href ="{% url 'propose_event' %}">Propose an Event</a></h2>
<h2><a href ="{% url 'work_collaborately' %}">Work Collaborately</a></h2>
<h2><a href ="{% url 'propose_event' %}">Ask general question</a></h2>
</div>
{% endblock %}
