{% extends 'base.html' %}
{% block content %}
  <div id = 'main' class = 'options'>
    <h2>Welcome <a href="{% url 'user_profile' user.id %}">"{{ user.username }}"</a></h2>
    <hr/>
    <h1><a href = "{% url 'codehub' %}">Coders out there</a></h1>
    <h1><a href ="{% url 'devhub' %}">Developers out there</a></h1>
    <h1><a href ="{% url 'match_user_skills' %}">Skills Matcher</a></h1>
    <h1><a href ="{% url 'propose_event' %}">Propose an Event</a></h1>
    <h1><a href ="{% url 'work_collaborately' %}">Work Collaborately</a></h1>
    <h1><a href = "{% url 'write_blog' %}">Write Blog/article</a></h1>
    <h1><a href ="{% url 'propose_event' %}">Ask general question</a></h1>
    <h1><a href ="{% url 'the_info_main_page' %}">"THE INFO:YOUR OWN SEARCH ENGINE"</a></h1>
  </div>
{% endblock %}
