{% extends 'base.html' %}
{% load staticfiles %}
{% load django_markdown %}
{% block content %}
<div id = 'main'>
  <article class = 'post'>
    <header>
      <div class ='title'>
        <h2><a href = "">{{ ques_details.question_heading }}</a></h2>
        {% if ques_details.user.username == user.username %}
          <h3><a href="{% url 'edit_devhub_question' ques_details.id %}">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href ="{% url 'remove_devhub_question' ques_details.id %}">Remove</a></h3>
        {% endif %}
      </div>
      <div class = 'meta'>
        <time class="published">{{ ques_details.created }}</time>
        {% if ques_details.user_profile.user_profile_pic.name %}
          <h2><a href="{% url 'user_profile' ques_details.user.id %}" class="author"><span class="name">{{ ques_details.user.username }}</span><img src="/media/{{ ques_details.user_profile.user_profile_pic }}" alt="Profile pic" /></a></h2>
        {% else %}
          <h2><a href="{% url 'user_profile' ques_details.user.id %}" class="author"><span class="name">{{ ques_details.user.username }}</span><img src = "{% static 'images/default_gravators/github.png' %}" /></a></h2>
        {% endif %}
      </div>
    </header>
    <div class ='make_sober'>
      <h3>
        Tags:&nbsp;
        {% for tag in ques_details.question_tags.all %}
          <a href = "">{{ tag.name }}</a>
        {% endfor %}
      </h3>
      <p>Last Edited:&nbsp;{{ ques_details.modified }}</p>
      {% if ques_details.link %}
        <p>Link:&nbsp;{{ ques_details.link }}</p>
      {% endif %}
      <p>{{ ques_details.question_description|markdown }}</p>
    </div>
  </article>
</div>
{% endblock %}
