{% extends 'base.html' %}
{% block content %}
  <h1>Questions of {{ question_user }}</h1>
  <hr/>
  {% if not questions %}
    <h3>No questions Yet!!!</h3>
  {% else %}
    {% for question in questions %}
      <h1><a href = "{% url 'codehub_question_details' question.id %}">{{ question.question_heading }}</a></h1>
      {% if question.user.username  == user.username %}
        <a href = "{% url 'remove_codehub_question' question.id %}">Remove</a>
        <a href = "{% url 'edit_codehub_question' question.id %}">Edit</a>
      {% endif %}
      <br/>
      {{ question.created }}
      <hr/>
    {% endfor %}
  {% endif %}
{% endblock %}
