{% extends 'base.html' %}
{% block content %}
<h1>Ask Question</h1>
<hr/>
<form method = "post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" name = 'post_question' value="Post Question"/>
</form>
<h2>Questions</h2>
<hr/>
{% if questions.object_list.count == 0 %}
  <h2>No questions Yet!!!</h2>
{% else %}
<form method= "post" align = 'center' action = "{% url 'search_question' %}" />
  {% csrf_token %}
  {{ search_form.as_p }}
  <input type = 'submit' value = 'Search' name='search_question' />
</form>
{% for question in questions.object_list %}
  <h1><a href="{% url 'codehub_question_details' question.id %}">{{ question.question_heading }}</a></h1>
  {% if question.user.username == user.username %}
    <a href = "{% url 'edit_codehub_question' question.id %}">Edit</a>
    <a href = "{% url 'remove_codehub_question' question.id %}">Remove</a>
  {% endif %}
  by:{{ question.user.username }}<br/>
  Tags:
  {% for tag in question.question_tags.all %}
      {{ tag.name }}
  {% endfor %}
  <br/>
  {{ question.created }}
  <hr/>
{% endfor %}
{% endif %}
<div class = "pagination">
  {% if questions.has_previous %}
    <li><a href = "?page={{ questions.previous_page_number }}">Previous</a></li>
  {% endif %}
  {% for pg in questions.paginator.page_range %}
    {% if questions.number == pg %}
      <li class = "active"><a href="?page={{ pg }}">{{ pg }}</a></li>
    {% else %}
      <li><a href="?page={{ pg }}">{{ pg }}</a></li>
    {% endif %}
  {% endfor %}
  {% if questions.has_next %}
    <li><a href = "?page={{ questions.next_page_number }}">Next</a></li>
  {% endif %}
  </ul>
</div>
{% endblock %}
