{% extends 'base.html' %}
{% load django_markdown %}
{% block content %}
<div id = 'main'>
  <h1>Question Details</h1>
  <hr/>
  <h2>{{ ques_details.question_heading }}</h2>
  {% if ques_details.user.username  == user.username %}
    <a href = "{% url 'remove_codehub_question' ques_details.id %}">Remove</a>
    <a href = "{% url 'edit_codehub_question' ques_details.id %}">Edit</a>
  {% endif %}
  <br/>
  {{ ques_details.question_description|markdown }}<br/>
  by:{{ ques_details.user.username }}<br/>
  {{ ques_details.created }}
  <hr/>
  <h2>Answer here:</h2>
  <form method = 'POST'>
    {% csrf_token %}
    {{ form.as_p }}
  <input type = 'submit' name = 'answer_ques' value = 'Post Answer'/>
  <hr/>
  <h1>Previous Answers</h1>
  {% for ans in ques_answers %}
    {{ ans.comment_text }}<br/>
    {% if ans.user.username == user.username %}
      <a href = "{% url 'edit_codehub_question_comment' ans.id %}">Edit</a>
      <a href = "{% url 'remove_codehub_question_comment' ans.id %}">Remove</a>
    {% endif %}
    <hr/>
  {% endfor %}
</div>
{% endblock %}
