{% extends 'base.html' %}
{% load staticfiles %}
{% load my_filters %}
{% load django_markdown %}
{% block content %}
<div id = 'main'>
  <article class = 'post'>
    <header>
      <div class = 'title'>
        <h2><a href="">{{ ques_details.question_heading }}</a></h2>
        {% if ques_details.user.username == user.username %}
          <!-- <h3><a href="{% url 'edit_codehub_question' ques_details.id %}">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href ="{% url 'remove_codehub_question' ques_details.id %}">Remove</a></h3> -->
          <ul class="actions">
            <li><a class= 'button' href="{% url 'edit_codehub_question' ques_details.id %}">Edit</a></li>
            <li><a class = 'button' href ="{% url 'remove_codehub_question' ques_details.id %}">Remove</a></li>
          </ul>
        {% endif %}
      </div>
      <div class = 'meta'>
        <time class="published">{{ ques_details.created }}</time>
        {% if ques_details.user_profile.user_profile_pic.name %}
          <h2><a href="{% url 'user_profile' ques_details.user.id %}" class="author"><span class="name">{{ ques_details.user.username }}</span><img src="/media/{{ ques_details.user_profile.user_profile_pic }}" alt="Profile pic" /></a></h2>
        {% else %}
          <h2><a href="{% url 'user_profile' ques_details.user.id %}" class="author"><span class="name">{{ ques_details.user.username }}</span><img src = "{% static 'images/default_gravators/github.png' %}" /></a></h2>
        {% endif %}
      </div>
    </header>
    <div class ='make_sober'>
      <h3>
        Tags:&nbsp;
        {% for tag in ques_details.question_tags.all %}
          <a href = "">{{ tag.name }}</a>
        {% endfor %}
      </h3>
      <p>Last Edited:&nbsp;{{ ques_details.modified }}</p>
      {% if ques_details.link %}
        <p>Link:&nbsp;{{ ques_details.link }}</p>
      {% endif %}
      <p>{{ ques_details.question_description|stripjs }}</p>
    </div>
  </article>
  <form method = 'POST'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type = 'submit' name = 'answer_ques' value = 'Post Answer'/>
  </form>
  <hr/>
  {% if not ques_answers %}
    <h3>No Answers Yet!!!</h3>
  {% else %}
    <h3>Answers:</h3>
    <section>
      <div class = 'mini-posts'>
        {% for answer in ques_answers %}
          <article class = 'mini-post'>
            <header>
              <!-- {% autoescape off %} -->
                <p>{{ answer.comment_text|markdown|stripjs }}</p>
              <!-- {% endautoescape %} -->
              <hr/>
              <time class="published">Created:{{ answer.created }}</time>
              <time class="published">Last Edited:{{ answer.modified }}</time>
              {% if answer.user_profile.user_profile_pic.name %}
                <h2><a style = "top:0.5em" href="{% url 'user_profile' answer.user.id %}" class="author">{{ answer.user.username }}<img src="/media/{{ answer.user_profile.user_profile_pic }}" alt="" /></a></h2>
              {% else %}
              <h2><a style = "top:0.5em" href="{% url 'user_profile' answer.user.id %}" class="author">{{ answer.user.username }}<img src="{% static 'images/default_gravators/github.png' %}" alt="" /></a></h2>
              {% endif %}
              {% if answer.user.username == request.user.username %}
              <ul class = 'actions'>
                <li><a href = "{% url 'edit_codehub_question_comment' answer.id %}" class = 'button'>Edit</a></li>
                <li><a href = "{% url 'remove_codehub_question_comment' answer.id %}" class = 'button'>Remove</a></li>
              </ul>
                <!-- <h3><a href = "{% url 'edit_codehub_question_comment' answer.id %}">Edit</a>&nbsp;&nbsp;<a href = "{% url 'remove_codehub_question_comment' answer.id %}">Remove</a></h3> -->
              {% endif %}
            </header>
          </article>
        {% endfor %}
      </div>
    </section>
  {% endif %}
</div>
{% endblock %}
