{% extends 'base.html' %}
{% block content %}
<div id = 'main'>
<h3>Search Questions</h3>
<form method= "POST">
  {% csrf_token %}
  {{ form.as_p }}
<input type='submit' name ='search_ques' value='Go' />
</form>
{% if not results %}
<h3>No results yet!!!</h3>
{% else %}
<h3>Results for "{{ search_str }}" </h3>
  {% for result in results %}
    <a href = "{% url 'codehub_question_details' result.id %}">{{ result }}</a><br/>
    by:{{ result.user.username }}<br/>
    created:{{ result.created }}<br/>
    modified:{{ result.modified }}
    <hr/>
  {% endfor %}
{% endif %}
</div>
{% endblock %}
