{% extends 'base.html' %}
{% block title %}
  <title>Group:Edit Details</title>
{% endblock %}
{% block content %}
<!-- <div id = 'main'>
  <form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name = 'edit_group'/>
  </form>
</div> -->
<div id = 'main'>
  <article class="post">
    <header>
      <div class="title">
        <h2><a href ="">Edit Group</a></h2>
        <p>"{{ group_name }}"</p>
      </div>
    </header>
    <form method="POST">
      {% csrf_token %}
      {{ form }}
      <input type="submit" name = 'edit_group'/>
    </form>
  </article>
  <h2><a href = "{% url 'create_group_main_page' %}">Cancel</a></h2>
</div>
{% endblock %}
