{% extends 'base.html' %}
{% block content %}
<div id = 'main'>
  <h2>Hello Eveyone!!!</h2>
  <h1><i>"I want to make the world a better place bcoz i was here"</i></h1>
  <hr/>
  <h3>
    <i>
      The website is built by,<u><a href = "https://in.linkedin.com/in/abhishek-goswami-591541b1">"ABHISHEK GOSWAMI"</a></u> and the project is powered in python at backend.
      The link to the project is "<a href = "https://abhishekg785@bitbucket.org/abhishekg785/abuzillav0.1.git">Project Code</a>"
    </i>
  </h3>
  <h1 style="text-transform:none">Remember the first and second year of our college life!!!<br/>
    We had no idea of college,its culture,socities,groups etc.Due to this the students having no SENIORS suffered having no idea
    about college.
    <hr/>
    So I bring you first open source project of our college where you can get the answer to your problems and you can become the contributor to open source.
    The website will behave as a complete social network required in a college.
    It is college specific!!! Now remember the posts on FB, half of them are useless.<br/>
    <i>Its a college project and you can customize it in your own way!!!!</i><br/>
    Yes,it is open source and the code will be available to everyone in college and <i>Anyone can contribute,make it better!!!</i>
    <hr/>
    The site provides you various functionalities such as:<br/>
    <u>Get best posts/tutorials/articles made by the best students of the college in their respective fields.</u>
    <hr/>
    <u>Online chat/help facility for the students.</u>
    <hr/>
    <u>Ask questions</u>,<u>Post better Topics for discussion</u>,<u>Post new ideas!!!</u>
    <hr/>
    <u>Skill Matcher</u>:Meet the students having the similar skills like you.eg:i want to work on a python project and need help,so i can find the students having python in their skills.
    The site will match the students of your skills.
    <hr/>
    <u>Work Collaborately</u>:Now work on projects with other students of college having simliar skills like you by hosting project or sending request to other student's project.
    <hr/>
    <u>Workshops/Events/Talks</u>:Now organize workshops/events/talks and even get the students interest rate for a particular event or workshop before organizing it!!!!
    For getting the no of students interested for an event/workshop just propose the event and students can upVote and downVote the event!!!
    <hr/>
    <u>Write Blog/Articles</u>:Now share your experiences with other students of college by having your own blog!!!!<br/>
    <br/>
  and a lots more is coming!!!!
  <hr/>
  </h1>

</div>
{% endblock %}
